@{
    //Layout = null; // master page won't be apply to that view
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<hr class="paragraphBorder" />
<div>
    <a href="https://metanit.com/sharp/mvc5/3.6.php"><h2>Отправка файлов в ASP.NET MVC 5</h2></a>
</div>
<hr />

<form action="@Url.Action("GetFile")">
    <input type="submit" value="Get file" />
</form>
<hr />
<hr class="paragraphBorder" />*@
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr>
            <td>
                <p>Название книги</p>
            </td>
            <td>
                <p>Автор</p>
            </td>
            <td>
                <p>Цена</p>
            </td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Books) //Razor syntax
        {
            <tr>
                <td>
                    <p>@b.Name</p>
                </td>
                <td>
                    <p>@b.Author</p>
                </td>
                <td>
                    <p>@b.Price</p>
                </td>
                <td>
                    <p>
                        <a href="/Home/Buy/@b.Id">Купить</a>
                    </p>
                </td>
            </tr>
        }
    </table>
</div> <hr/>

<form method="post" action="@Url.Action("GetImage")">
    <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" accept="image/png, image/jpeg" name="pathToPhoto" multiple>
        <input type="submit" value="Submit"/>
    </div>

</form>
<hr/>
<form method="POST" action="@Url.Action("SomeMethod")">
    <a href="https://metanit.com/sharp/mvc5/3.4.php"><h2>ViewResult и генерация представлений</h2></a>
    <input type="submit" value="SomeMethod" />
</form>
<hr/>

<hr/>
<hr class="paragraphBorder" />
<div>
    <a href="https://metanit.com/sharp/mvc5/3.5.php"><h2>Переадресация и отправка кодов статуса и ошибок</h2></a>
</div>
<hr/>
<hr/>

<form action="@Url.Action("MethodWithRedirect1")">
    <input type="submit" value="MethodWithRedirect_1" />
</form>
<hr/>

<form action="@Url.Action("MethodWithRedirectToRoute")">
    <input type="submit" value="MethodWithRedirectToRoute_1" />
</form>
<hr/>


<form action="@Url.Action("MethodWithRedirectToRoute")">
    <input type="submit" value="MethodWithRedirectToRoute_1" />
</form>
<hr/>

<form action="@Url.Action("CalcRectangleArea")">
    <p>enter side "a"</p>
    <input type="number" name="a"/>

    <p>enter side "h"</p>
    <input type="number" name="h"/>

    <input type="submit" value="CalcRectangleArea_2"/>
</form>
<hr/>

<form action="@Url.Action("RedirectToActionWithParams")">
    <input type="submit" value="Redir_To_Action_WithParams" />
</form>
<hr />

<hr class="paragraphBorder" />

<hr class="paragraphBorder" />
<div>
    <a href="https://metanit.com/sharp/mvc5/3.6.php"><h2>Отправка файлов в ASP.NET MVC 5</h2></a>
</div>
<hr/>

<form action="@Url.Action("GetFile")">
    <input type="submit" value="Get file" />
</form>
<hr/>
<hr class="paragraphBorder" />

<hr class="paragraphBorder" />
<a href="https://metanit.com/sharp/mvc5/3.7.php"><h2>Контекст запроса HttpContext. Куки4. Сессии</h2></a>
<hr />
<form action="@Url.Action("GetContext")">
    <input type="submit" value="Get Context" />
</form>
<hr />
<hr class="paragraphBorder" />

<hr class="paragraphBorder" />
<a href="https://metanit.com/sharp/mvc5/3.8.php"><h2>Контекст запроса HttpContext. Куки4. Сессии</h2></a>
<hr />
